{% extends 'mainhead.html' %}
{% block content %}

<div class="col-md-8 col-xl-6 chat">
	<div class="card">
		<div class="card-header msg_head">
			<div class="d-flex bd-highlight">
				<div class="img_cont">
					<img src="{{ frnd_obj.image.url}}" class="rounded-circle user_img">
					<span class="online_icon"></span>
				</div>
				<div class="user_info">
					<span>{{ frnd_obj.name }}</span>
					<p>1767 Messages</p>
				</div>
				<div class="video_cam">
					<span><i class="fas fa-video"></i></span>
					<span><i class="fas fa-phone"></i></span>
				</div>
			</div>
			<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
			<div class="action_menu">
				<ul>
					<li><i class="fas fa-user-circle"></i> View profile</li>
					<li><i class="fas fa-users"></i> Add to close friends</li>
					<li><i class="fas fa-plus"></i> Add to group</li>
					<li><i class="fas fa-ban"></i> Block</li>
				</ul>
			</div>
		</div>
		{% block msg %}
			 {% include 'messages.html' %}
		{% endblock %}
		<div class="card-footer">
			<div class="input-group">
				<div class="input-group-append">
					<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
				</div>
				<textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
				<div class="input-group-append">
					<span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}