{% extends 'mainhead.html' %}
{% block content %}

<div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
	<div class="card-header">
		<div class="input-group">
			<input type="text" placeholder="@{{me.username}}" name="" class="form-control search">
			<div class="input-group-prepend">	
					<span class="input-group-text search_btn" onclick="redirectTologout()"><i class="fas fa-search" ></i></span>	
			</div>
		</div>
	</div>
	<script>
		function redirectTologout() {
			window.location.href = "{% url 'logout' %}";
		}
	</script>
	
	<div class="card-body contacts_body">
		<ui class="contacts">
		{% for user in users %}
		<li class="active">
			<div class="d-flex bd-highlight">
				<div class="img_cont">
					<img src="{{user.image.url}}" class="rounded-circle user_img">
					<span class="online_icon"></span>
				</div>
				<div class="user_info">
					<a href="{% url 'chat' me.username user.user.username %}"><span>{{user.name}}</span></a>
					<p>{{user.name}} is online</p>
				</div>
			</div>
		</li>
		{% endfor %}
	</div>
	<div class="card-footer">
		
	</div>
</div></div>

{% endblock %}